In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df_1= pd.read_csv("D:/Dai Hoc/Sau Đại Học/03_Shelf_Information_Data.csv")
df_2= pd.read_csv("D:/Dai Hoc/Sau Đại Học/03_Item_Information_Data.csv")
df_3= pd.read_csv("D:/Dai Hoc/Sau Đại Học/03_Customer_Behavior_Data.csv")

# Clean Shelf

In [97]:
df_1

,Shelf ID,Description,Location_x (center),Location_y (center),Width,Height,Length,Number of items,Shape
0,0,Quầy bánh kẹo,1100,550,300,180,300,13,Quầy tròn
1,1,Quầy hoá mỹ phẩm,350,500,100,180,400,18,Kệ hàng
2,2,Quầy sữa,600,400,100,180,600,9,Kệ hàng
3,3,Quầy thực phẩm,1450,400,100,180,600,25,Kệ hàng
4,4,Quầy gia vị,1100,150,500,180,100,19,Kệ hàng
5,5,Quầy gia dụng,350,950,700,180,100,16,Kệ hàng
6,6,Quầy sách và đồ chơi,50,400,100,180,600,18,Kệ hàng
7,7,Quầy đông lạnh,1150,950,700,180,100,16,Kệ hàng

In [98]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Shelf ID             8 non-null      int64
 1   Description          8 non-null      object
 2   Location_x (center)  8 non-null      int64
 3   Location_y (center)  8 non-null      int64
 4   Width                8 non-null      int64
 5   Height               8 non-null      int64
 6   Length               8 non-null      int64
 7   Number of items      8 non-null      int64
 8   Shape                8 non-null      object
dtypes: int64(7), object(2)
memory usage: 704.0+ bytes

In [99]:
# Sửa giá trị Number of items của Shelf ID 6 thành 18
df_1.loc[df_1['Shelf ID'] == 6, 'Number of items'] = 18
# In lại DataFrame để kiểm tra kết quả
df_1

,Shelf ID,Description,Location_x (center),Location_y (center),Width,Height,Length,Number of items,Shape
0,0,Quầy bánh kẹo,1100,550,300,180,300,13,Quầy tròn
1,1,Quầy hoá mỹ phẩm,350,500,100,180,400,18,Kệ hàng
2,2,Quầy sữa,600,400,100,180,600,9,Kệ hàng
3,3,Quầy thực phẩm,1450,400,100,180,600,25,Kệ hàng
4,4,Quầy gia vị,1100,150,500,180,100,19,Kệ hàng
5,5,Quầy gia dụng,350,950,700,180,100,16,Kệ hàng
6,6,Quầy sách và đồ chơi,50,400,100,180,600,18,Kệ hàng
7,7,Quầy đông lạnh,1150,950,700,180,100,16,Kệ hàng

In [100]:
output_file_path = 'Shelf.xlsx'
df_1.to_excel(output_file_path, index=False)

# Clean Item

In [101]:
df_2

,Shelf ID,Item ID,Name,Origin,Location,Weight (g),Price (vnđ),MFG,EXP,Marketing strategy,Discount (%),Rate
0,0,0,Bánh Oreo,Việt Nam,Cao,120.0,"17,500",2023-11-14,2024-10-17,False,10,4
1,0,1,Bánh Chocopie,Việt Nam,Cao,396.0,"48,000",2023-10-07,2024-09-16,False,0,3
2,0,2,Kẹo cao su Cool Air Fresh,Việt Nam,Trung bình,40.0,"40,000",2024-06-02,2026-06-02,False,0,3
3,0,3,Bánh mỳ chà bông Kinh đô,Việt Nam,Trung bình,80.0,"13,400",2024-05-02,2026-05-02,False,0,3
4,0,4,Bánh trứng Custard,Thái Lan,Trung bình,46.0,"17,000",2023-10-30,2024-04-16,True,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...
129,7,11,Pizza kitkool,Việt Nam,Thấp,140.0,"33,000",2024-04-16,2024-06-10,False,0,4
130,7,12,Mý ý SG Food,Việt Nam,Thấp,250.0,"27,000",2024-02-05,2024-09-03,False,0,4
131,7,13,Thanh cua Akira,Nhật Bản,Thấp,200.0,"58,500",2023-10-16,2023-12-19,False,0,4
132,7,14,Nước lẩu Barona,Việt Nam,Thấp,180.0,"32,000",2023-12-02,2024-03-02,False,0,4
133,7,15,Xúc xích CP,Việt Nam,Thấp,450.0,"94,000",2024-02-21,2024-05-23,False,0,4

In [102]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Shelf ID            134 non-null    int64
 1   Item ID             134 non-null    int64
 2   Name                134 non-null    object
 3   Origin              134 non-null    object
 4   Location            134 non-null    object
 5   Weight (g)          110 non-null    float64
 6   Price (vnđ)         134 non-null    object
 7   MFG                 100 non-null    object
 8   EXP                 100 non-null    object
 9   Marketing strategy  134 non-null    bool
 10  Discount (%)        134 non-null    int64
 11  Rate                134 non-null    int64
dtypes: bool(1), float64(1), int64(4), object(6)
memory usage: 11.8+ KB

In [103]:
#Tách từng Feature ra để kiểm tra 

# Tách feature ra khỏi DataFrame
feature_name = 'Origin'
feature = df_2[feature_name]

# Kiểm tra giá trị null trong feature
null_values = feature.isnull().sum()

# Kiểm tra giá trị duplicate trong feature
duplicate_values = feature.duplicated().sum()

# Hiển thị các giá trị duy nhất trong feature và số lượng duplicate
unique_values_count = feature.value_counts()
print(f"Thông tin về feature '{feature_name}':")
print(f"Số lượng giá trị null: {null_values}")
print(f"Số lượng giá trị duplicate: {duplicate_values}")
print(f"Các giá trị duy nhất và số lượng duplicate:")
print(unique_values_count)

unique_count = len(set(feature))

print(f"Số lượng giá trị duy nhất: {unique_count}")

Thông tin về feature 'Origin':
Số lượng giá trị null: 0
Số lượng giá trị duplicate: 123
Các giá trị duy nhất và số lượng duplicate:
Việt Nam       114
Nhật Bản         8
Hàn Quốc         4
Thái Lan         1
Ý                1
Thailand         1
Hoa Kỳ           1
Tân Tây Lan      1
Mã Lai           1
Úc               1
Trung Quốc       1
Name: Origin, dtype: int64
Số lượng giá trị duy nhất: 11

In [56]:
# Giả sử df_check là DataFrame chứa dữ liệu của df_2
df_check = pd.DataFrame(df_2)

# Hàm kiểm tra ngày hợp lệ
def is_valid_date(date_str):
    if pd.isna(date_str):  # Kiểm tra nếu là NaN (giá trị thiếu)
        return False
    try:
        # Sử dụng đúng datetime.strptime
        return datetime.strptime(date_str, '%Y-%m-%d') is not None
    except ValueError:
        return False

# Hàm kiểm tra logic giữa ngày sản xuất và hạn sử dụng
def check_dates(df_check):
    invalid_nsx = []  # Danh sách các ngày sản xuất không hợp lệ
    invalid_hsd = []  # Danh sách các hạn sử dụng không hợp lệ
    invalid_logic = []  # Danh sách các bản ghi có logic sai

    for i, row in df_check.iterrows():
        nsx = str(row['NSX'])  # Chuyển đổi thành chuỗi
        hsd = str(row['HSD'])  # Chuyển đổi thành chuỗi
        
        # Kiểm tra ngày sản xuất có hợp lệ không
        if not is_valid_date(nsx):
            invalid_nsx.append(nsx)

        # Kiểm tra hạn sử dụng có hợp lệ không
        if not is_valid_date(hsd):
            invalid_hsd.append(hsd)

        # Nếu cả hai ngày đều hợp lệ, kiểm tra logic ngày
        if is_valid_date(nsx) and is_valid_date(hsd):
            nsx_date = datetime.strptime(nsx, '%Y-%m-%d')
            hsd_date = datetime.strptime(hsd, '%Y-%m-%d')
            if nsx_date >= hsd_date:  # Thêm điều kiện "bằng nhau" không hợp lệ
                invalid_logic.append((nsx, hsd))
    
    return invalid_nsx, invalid_hsd, invalid_logic

# Gọi hàm để kiểm tra dữ liệu
invalid_nsx, invalid_hsd, invalid_logic = check_dates(df_check)

# In kết quả
print("Ngày sản xuất không hợp lệ:", invalid_nsx)
print("Hạn sử dụng không hợp lệ:", invalid_hsd)
print("Ngày sản xuất vượt qua hoặc bằng hạn sử dụng:", invalid_logic)

Ngày sản xuất không hợp lệ: ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Hạn sử dụng không hợp lệ: ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Ngày sản xuất vượt qua hoặc bằng hạn sử dụng: [('2024-07-16', '2024-03-23')]

In [59]:
df_2 = pd.DataFrame(df_2)

# Thay đổi giá trị của NSX và HSD từ ('2024-07-16', '2024-03-23') thành ('2024-07-16', '2029-07-16')
def adjust_dates(df_2):
    # Lặp qua từng dòng của DataFrame
    for i, row in df_2.iterrows():
        # Nếu NSX là '2024-07-16' và HSD là '2024-03-23'
        if row['NSX'] == '2024-07-16' and row['HSD'] == '2024-03-23':
            # Thay đổi HSD thành '2029-07-16'
            df_2.at[i, 'HSD'] = '2029-07-16'
    
    return df_2

# Gọi hàm điều chỉnh
df_2 = adjust_dates(df_2)

# In DataFrame đã được điều chỉnh
print(df_2[df_2['NSX'] == '2024-07-16'])  # Hiển thị các dòng có NSX là '2024-07-16' để kiểm tra

    Shelf ID  Item ID              Name    Origin Location  Weight (g)  \
22         1        9  Bàn chải Colgate  Việt Nam     Thấp         NaN

       Price         NSX         HSD  Marketing strategy  Discount   Rate
22  79,500 ₫  2024-07-16  2029-07-16               False          5     5

In [52]:
# Thực hiện thay thế chuỗi trong cột Origin
df_2['Origin'] = df_2['Origin'].replace({
    'Vietnam': 'Việt Nam',
    'Thái Lan': 'Thái Lan',
    'New Zealand': 'Tân Tây Lan',
    'Malaysia': 'Mã Lai'
})

,Shelf ID,Item ID,Name,Origin,Location,Weight (g),Price,NSX,HSD,Marketing strategy,Discount,Rate
0,0,0,Bánh Oreo,Việt Nam,Cao,120.0,"17,500 ₫",2023-11-14,2024-10-17,False,10,4
1,0,1,Bánh Chocopie,Việt Nam,Cao,396.0,"48,000 ₫",2023-10-07,2024-09-16,False,0,3
2,0,2,Kẹo cao su Cool Air Fresh,Việt Nam,Trung bình,40.0,"40,000 ₫",2024-06-02,2026-06-02,False,0,3
3,0,3,Bánh mỳ chà bông Kinh đô,Việt Nam,Trung bình,80.0,"13,400 ₫",2024-05-02,2026-05-02,False,0,3
4,0,4,Bánh trứng Custard,Thái Lan,Trung bình,46.0,"17,000 ₫",2023-10-30,2024-04-16,True,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...
129,7,11,Pizza kitkool,Việt Nam,Thấp,140.0,"33,000 ₫",2024-04-16,2024-06-10,False,0,4
130,7,12,Mý ý SG Food,Việt Nam,Thấp,250.0,"27,000 ₫",2024-02-05,2024-09-03,False,0,4
131,7,13,Thanh cua Akira,Nhật Bản,Thấp,200.0,"58,500 ₫",2023-10-16,2023-12-19,False,0,4
132,7,14,Nước lẩu Barona,Việt Nam,Thấp,180.0,"32,000 ₫",2023-12-02,2024-03-02,False,0,4
133,7,15,Xúc xích CP,Việt Nam,Thấp,450.0,"94,000 ₫",2024-02-21,2024-05-23,False,0,4

In [ ]:
# Đổi tên cột Price thành 'Price (vnđ)'
df_2.rename(columns={'Price': 'Price (vnđ)'}, inplace=True)

In [63]:
# Xóa chữ 'đ' khỏi các giá trị trong cột Price
df_2['Price (vnđ)'] = df_2['Price (vnđ)'].str.replace('₫', '', regex=True)

In [69]:
# đồng bộ tên Feature thành tiếng anh và thêm đơn vị
df_2.rename(columns={'NSX': 'MFG'}, inplace=True)
df_2.rename(columns={'HSD': 'EXP'}, inplace=True)
df_2.rename(columns={'Discount ': 'Discount (%)'}, inplace=True)
df_2

,Shelf ID,Item ID,Name,Origin,Location,Weight (g),Price (vnđ),MFG,EXP,Marketing strategy,Discount (%),Rate
0,0,0,Bánh Oreo,Việt Nam,Cao,120.0,"17,500",2023-11-14,2024-10-17,False,10,4
1,0,1,Bánh Chocopie,Việt Nam,Cao,396.0,"48,000",2023-10-07,2024-09-16,False,0,3
2,0,2,Kẹo cao su Cool Air Fresh,Việt Nam,Trung bình,40.0,"40,000",2024-06-02,2026-06-02,False,0,3
3,0,3,Bánh mỳ chà bông Kinh đô,Việt Nam,Trung bình,80.0,"13,400",2024-05-02,2026-05-02,False,0,3
4,0,4,Bánh trứng Custard,Thái Lan,Trung bình,46.0,"17,000",2023-10-30,2024-04-16,True,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...
129,7,11,Pizza kitkool,Việt Nam,Thấp,140.0,"33,000",2024-04-16,2024-06-10,False,0,4
130,7,12,Mý ý SG Food,Việt Nam,Thấp,250.0,"27,000",2024-02-05,2024-09-03,False,0,4
131,7,13,Thanh cua Akira,Nhật Bản,Thấp,200.0,"58,500",2023-10-16,2023-12-19,False,0,4
132,7,14,Nước lẩu Barona,Việt Nam,Thấp,180.0,"32,000",2023-12-02,2024-03-02,False,0,4
133,7,15,Xúc xích CP,Việt Nam,Thấp,450.0,"94,000",2024-02-21,2024-05-23,False,0,4

In [240]:
df_2['Price (vnđ)'] = df_2['Price (vnđ)'].str.replace(',', '').str.strip()

# Chuyển đổi cột 'Price (vnđ)' thành số
df_2['Price (vnđ)'] = pd.to_numeric(df_2['Price (vnđ)'], errors='coerce')

# Kiểm tra dữ liệu đã chuyển đổi
print(df_2['Price (vnđ)'].head())

0    17500
1    48000
2    40000
3    13400
4    17000
Name: Price (vnđ), dtype: int64

In [241]:
output_file_path = 'Item.xlsx'
df_2.to_excel(output_file_path, index=False)

In [104]:
# những giá trị Weight (g) không phù hợp sẽ được điều chỉnh ở excel + fill vào một số giá trị Weight (g) để trong Shelf đó full
# không thiếu giá trị trong cùng một Shelf ( vì có shelf 5 6 không cần thiết đến Weight (g)), Weight (g) fill sử dụng thông tin  
# google

# Clean Customer behavior

In [196]:
df_3

,Shelf ID,Person ID,Timestamp,Age,Gender,Height,Weight,Married status,Moving speed (m/s),Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time
0,4,1,1720260000,52,Female,162,41,Married,0.19,16,27,36,True,True,False,False,False,True
1,4,1,1720260120,52,Female,162,41,Married,0.49,5,22,17,True,True,False,True,True,True
2,4,1,1720260300,52,Female,162,41,Married,0.36,4,25,39,True,True,True,True,True,False
3,4,1,1720260360,52,Female,162,41,Married,0.64,8,21,35,True,True,True,False,False,False
4,4,1,1720260480,52,Female,162,41,Married,0.13,6,27,16,True,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389,2,1500,1720151340,52,Female,154,44,Single,0.52,4,32,35,False,True,False,True,True,True
15390,3,1500,1720151640,52,Female,154,44,Single,0.85,3,30,28,False,True,False,True,True,True
15391,3,1500,1720151760,52,Female,154,44,Single,0.76,21,54,56,False,True,False,False,True,False
15392,3,1500,1720151880,52,Female,154,44,Single,1.41,13,16,25,False,True,False,False,True,True
15393,3,1500,1720152180,52,Female,154,44,Single,0.96,7,17,37,False,True,False,True,True,False

In [197]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15394 entries, 0 to 15393
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Shelf ID                               15394 non-null  int64
 1   Person ID                              15394 non-null  int64
 2   Timestamp                              15394 non-null  int64
 3   Age                                    15394 non-null  int64
 4   Gender                                 15394 non-null  object
 5   Height                                 15394 non-null  int64
 6   Weight                                 15394 non-null  int64
 7   Married status                         15394 non-null  object
 8   Moving speed (m/s)                     15394 non-null  float64
 9   Item ID                                15394 non-null  int64
 10  Looking at item (s)                    15394 non-null  int64
 11  Holding the item (s)                   15394 non-null  int64
 12  Holding the bag                        15394 non-null  bool
 13  Picking up item                        15394 non-null  bool
 14  Returning item                         15394 non-null  bool
 15  Putting item into bag                  14056 non-null  object
 16  Taking item out of bag                 13452 non-null  object
 17  Putting item into bag in the 2nd time  12723 non-null  object
dtypes: bool(3), float64(1), int64(9), object(5)
memory usage: 1.8+ MB

In [198]:
# Chuyển đổi UNIX timestamp sang datetime
df_3['Datetime'] = pd.to_datetime(df_3['Timestamp'], unit='s')

# In ra DataFrame sau khi chuyển đổi
print(df_3)

       Shelf ID  Person ID   Timestamp  Age  Gender  Height  Weight  \
0             4          1  1720260000   52  Female     162      41
1             4          1  1720260120   52  Female     162      41
2             4          1  1720260300   52  Female     162      41
3             4          1  1720260360   52  Female     162      41
4             4          1  1720260480   52  Female     162      41
...         ...        ...         ...  ...     ...     ...     ...
15389         2       1500  1720151340   52  Female     154      44
15390         3       1500  1720151640   52  Female     154      44
15391         3       1500  1720151760   52  Female     154      44
15392         3       1500  1720151880   52  Female     154      44
15393         3       1500  1720152180   52  Female     154      44

      Married status  Moving speed (m/s)  Item ID  Looking at item (s)  \
0            Married                0.19       16                   27
1            Married                0.49        5                   22
2            Married                0.36        4                   25
3            Married                0.64        8                   21
4            Married                0.13        6                   27
...              ...                 ...      ...                  ...
15389         Single                0.52        4                   32
15390         Single                0.85        3                   30
15391         Single                0.76       21                   54
15392         Single                1.41       13                   16
15393         Single                0.96        7                   17

       Holding the item (s)  Holding the bag  Picking up item  Returning item  \
0                        36             True             True           False
1                        17             True             True           False
2                        39             True             True            True
3                        35             True             True            True
4                        16             True             True           False
...                     ...              ...              ...             ...
15389                    35            False             True           False
15390                    28            False             True           False
15391                    56            False             True           False
15392                    25            False             True           False
15393                    37            False             True           False

      Putting item into bag Taking item out of bag  \
0                     False                  False
1                      True                   True
2                      True                   True
3                     False                  False
4                     False                  False
...                     ...                    ...
15389                  True                   True
15390                  True                   True
15391                 False                   True
15392                 False                   True
15393                  True                   True

      Putting item into bag in the 2nd time            Datetime
0                                      True 2024-07-06 10:00:00
1                                      True 2024-07-06 10:02:00
2                                     False 2024-07-06 10:05:00
3                                     False 2024-07-06 10:06:00
4                                      True 2024-07-06 10:08:00
...                                     ...                 ...
15389                                  True 2024-07-05 03:49:00
15390                                  True 2024-07-05 03:54:00
15391                                 False 2024-07-05 03:56:00
15392                                  True 2024-07-05 03:58:00
15393                                 False 2024-07-05 04:03:00

[15394 rows x 19 columns]

In [199]:
# Tạo cột 'Age group' dựa trên cột 'Age'
def categorize_age(age):
    if age >= 18 and age <= 30:
        return 'Thiếu niên'
    elif age >= 31 and age <= 60:
        return 'Trung niên'
    elif age > 60:
        return 'Cao tuổi'
    else:
        return 'Dưới 18 tuổi'

# Áp dụng hàm trên cho cột Age để tạo ra cột Age Group
df_3['Age group'] = df_3['Age'].apply(categorize_age)

In [200]:
# Kiểm tra các giá trị trong cột 'Moving speed (m/s)' nhỏ hơn hoặc bằng 0
invalid_rows = df_3[df_3['Moving speed (m/s)'] <= 0]

# Nếu có hàng thỏa mãn điều kiện, in ra các hàng đó
if not invalid_rows.empty:
    print("Các dòng có giá trị 'Moving speed (m/s)' <= 0:")
    print(invalid_rows)
else:
    print("Không có giá trị nào trong 'Moving speed (m/s)' nhỏ hơn hoặc bằng 0.")

Không có giá trị nào trong 'Moving speed (m/s)' nhỏ hơn hoặc bằng 0.

In [201]:

# Kiểm tra xem có giá trị nào nhỏ hơn 0 trong hai cột không
negative_values_check = (df_3[['Looking at item (s)', 'Holding the item (s)']] < 0).any()

# Kiểm tra xem có giá trị nào là NaN (null) trong hai cột không
null_values_check = df_3[['Looking at item (s)', 'Holding the item (s)']].isnull().any()

# Kiểm tra trường hợp "nhìn vào sản phẩm 0s"
zero_looking_check = (df_3['Looking at item (s)'] == 0).any()

# Kiểm tra trường hợp "nhìn vào sản phẩm 0s"
zero_holding_check = (df_3['Holding the item (s)'] == 0).any()

# In kết quả kiểm tra
if negative_values_check.any():
    print("Lỗi: Cột chứa giá trị nhỏ hơn 0:", negative_values_check[negative_values_check].index.tolist())
else:
    print("Không có giá trị nào nhỏ hơn 0.")

if null_values_check.any():
    print("Lỗi: Cột chứa giá trị null:", null_values_check[null_values_check].index.tolist())
else:
    print("Không có giá trị null.")

if zero_looking_check:
    print("Lỗi: 'Looking at item (s)' chứa giá trị 0.")
else:
    print("'Looking at item (s)' không chứa giá trị 0.")
    
if zero_looking_check:
    print("Lỗi: 'Holding at item (s)' chứa giá trị 0.")
else:
    print("'Holding at item (s)' không chứa giá trị 0.")

Không có giá trị nào nhỏ hơn 0.
Không có giá trị null.
Lỗi: 'Looking at item (s)' chứa giá trị 0.
Lỗi: 'Holding at item (s)' chứa giá trị 0.

In [202]:
# Sau khi check thấy các giá trị trong 2 feature Looking at item (s), Holding at item (s) có các giá trị bằng không
# Không holding nhưng pick sản phẩm để vào bag thì hợp lý nhưng không nhìn sản phẩm dù chỉ 0.1 s 
# nhưng lại có những thao tác mua hàng tiếp theo thì không hợp lý, nên phương Phá giải quyết là
# các row Looking at item = 0 nhưng lại có giá trị Holding the item (s) khác 0 thì đưa giá trị Holding the item (s) về 0
# các row Looking at item = 0 thì Fill các dòng dữ liệu Picking up item, Returning item, Putting item into bag, 
#Taking item out of bag, Putting item into bag in the 2nd timebằng giá trị False

# Cập nhật giá trị 'Holding the item (s)' về 0 khi 'Looking at item (s)' = 0 và 'Holding the item (s)' khác 0
df_3.loc[(df_3['Looking at item (s)'] == 0) & (df_3['Holding the item (s)'] != 0), 'Holding the item (s)'] = 0

# Cập nhật các cột 'Picking up item', 'Returning item', 'Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time'
# thành False nếu 'Looking at item (s)' = 0
columns_to_update = ['Picking up item', 'Returning item', 'Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time']
df_3.loc[df_3['Looking at item (s)'] == 0, columns_to_update] = False

In [203]:
# Sau khi check info thấy được 'Putting item into bag','Taking item out of bag','Putting item into bag in the 2nd time' có chứa
# những giá trị null, dưới đây là các trường hợp dùng để fill null cũng như là giải quyết bằng cách khác


# Điều kiện 1: 'Putting item into bag' null, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' null -> fill False
df_3.loc[df_3['Putting item into bag'].isnull() & df_3['Taking item out of bag'].isnull() & df_3['Putting item into bag in the 2nd time'].isnull(), 
         ['Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time']] = False

# Điều kiện 2: 'Putting item into bag' null, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' True -> fill 'Putting item into bag' and 'Taking item out of bag' with True
df_3.loc[df_3['Putting item into bag'].isnull() & df_3['Taking item out of bag'].isnull() & (df_3['Putting item into bag in the 2nd time'] == True), 
         ['Putting item into bag', 'Taking item out of bag']] = True

# Điều kiện 3: 'Putting item into bag' null, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' False -> fill False
df_3.loc[df_3['Putting item into bag'].isnull() & df_3['Taking item out of bag'].isnull() & (df_3['Putting item into bag in the 2nd time'] == False), 
         ['Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time']] = False

# Điều kiện 4: 'Putting item into bag' null, 'Taking item out of bag' True, 'Putting item into bag in the 2nd time' True or False -> fill 'Putting item into bag' with True
df_3.loc[df_3['Putting item into bag'].isnull() & (df_3['Taking item out of bag'] == True) & df_3['Putting item into bag in the 2nd time'].notnull(), 
         'Putting item into bag'] = True

# Điều kiện 5: 'Putting item into bag' null, 'Taking item out of bag' True, 'Putting item into bag in the 2nd time' null -> fill False
df_3.loc[df_3['Putting item into bag'].isnull() & (df_3['Taking item out of bag'] == True) & df_3['Putting item into bag in the 2nd time'].isnull(), 
         ['Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time']] = False

# Điều kiện 6: 'Putting item into bag' null, 'Taking item out of bag' False, 'Putting item into bag in the 2nd time' False or True -> fill False
df_3.loc[df_3['Putting item into bag'].isnull() & (df_3['Taking item out of bag'] == False), 
         ['Putting item into bag', 'Taking item out of bag', 'Putting item into bag in the 2nd time']] = False

# Điều kiện 7: 'Putting item into bag' True, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' null -> fill False
df_3.loc[(df_3['Putting item into bag'] == True) & df_3['Taking item out of bag'].isnull() & df_3['Putting item into bag in the 2nd time'].isnull(), 
         ['Taking item out of bag', 'Putting item into bag in the 2nd time']] = False


# Điều kiện 8: 'Putting item into bag' True, 'Taking item out of bag' True, 'Putting item into bag in the 2nd time' null -> fill 'Putting item into bag in the 2nd time' with False
df_3.loc[(df_3['Putting item into bag'] == True) & 
         (df_3['Taking item out of bag'] == True) & 
         df_3['Putting item into bag in the 2nd time'].isnull(), 
         'Putting item into bag in the 2nd time'] = False

# Điều kiện 9: 'Putting item into bag' True, 'Taking item out of bag' False, 'Putting item into bag in the 2nd time' null -> fill 'Putting item into bag in the 2nd time' with False
df_3.loc[(df_3['Putting item into bag'] == True) & 
         (df_3['Taking item out of bag'] == False) & 
         df_3['Putting item into bag in the 2nd time'].isnull(), 
         'Putting item into bag in the 2nd time'] = False

# Điều kiện 10: 'Putting item into bag' True, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' True -> fill 'Taking item out of bag' with True
df_3.loc[(df_3['Putting item into bag'] == True) & 
         df_3['Taking item out of bag'].isnull() & 
         (df_3['Putting item into bag in the 2nd time'] == True), 
         'Taking item out of bag'] = True

# Điều kiện 11: 'Putting item into bag' True, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' False -> fill 'Taking item out of bag' with False
df_3.loc[(df_3['Putting item into bag'] == True) & 
         df_3['Taking item out of bag'].isnull() & 
         (df_3['Putting item into bag in the 2nd time'] == False), 
         'Taking item out of bag'] = False

# Điều kiện 12: 'Putting item into bag' False, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' null -> fill both 'Taking item out of bag' and 'Putting item into bag in the 2nd time' with False
df_3.loc[(df_3['Putting item into bag'] == False) & 
         df_3['Taking item out of bag'].isnull() & 
         df_3['Putting item into bag in the 2nd time'].isnull(), 
         ['Taking item out of bag', 'Putting item into bag in the 2nd time']] = False

# Điều kiện 13: 'Putting item into bag' False, 'Taking item out of bag' null, 'Putting item into bag in the 2nd time' False -> fill 'Taking item out of bag' with False
df_3.loc[(df_3['Putting item into bag'] == False) & 
         df_3['Taking item out of bag'].isnull() & 
         (df_3['Putting item into bag in the 2nd time'] == False), 
         'Taking item out of bag'] = False

# Điều kiện 14: 'Putting item into bag' False, 'Taking item out of bag' False, 'Putting item into bag in the 2nd time' null -> fill 'Putting item into bag in the 2nd time' with False
df_3.loc[(df_3['Putting item into bag'] == False) & 
         (df_3['Taking item out of bag'] == False) & 
         df_3['Putting item into bag in the 2nd time'].isnull(), 
         'Putting item into bag in the 2nd time'] = False

In [204]:
df_3

,Shelf ID,Person ID,Timestamp,Age,Gender,Height,Weight,Married status,Moving speed (m/s),Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time,Datetime,Age group
0,4,1,1720260000,52,Female,162,41,Married,0.19,16,27,36,True,True,False,False,False,True,2024-07-06 10:00:00,Trung niên
1,4,1,1720260120,52,Female,162,41,Married,0.49,5,22,17,True,True,False,True,True,True,2024-07-06 10:02:00,Trung niên
2,4,1,1720260300,52,Female,162,41,Married,0.36,4,25,39,True,True,True,True,True,False,2024-07-06 10:05:00,Trung niên
3,4,1,1720260360,52,Female,162,41,Married,0.64,8,21,35,True,True,True,False,False,False,2024-07-06 10:06:00,Trung niên
4,4,1,1720260480,52,Female,162,41,Married,0.13,6,27,16,True,True,False,False,False,True,2024-07-06 10:08:00,Trung niên
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389,2,1500,1720151340,52,Female,154,44,Single,0.52,4,32,35,False,True,False,True,True,True,2024-07-05 03:49:00,Trung niên
15390,3,1500,1720151640,52,Female,154,44,Single,0.85,3,30,28,False,True,False,True,True,True,2024-07-05 03:54:00,Trung niên
15391,3,1500,1720151760,52,Female,154,44,Single,0.76,21,54,56,False,True,False,False,True,False,2024-07-05 03:56:00,Trung niên
15392,3,1500,1720151880,52,Female,154,44,Single,1.41,13,16,25,False,True,False,False,True,True,2024-07-05 03:58:00,Trung niên
15393,3,1500,1720152180,52,Female,154,44,Single,0.96,7,17,37,False,True,False,True,True,False,2024-07-05 04:03:00,Trung niên

In [205]:
# Biến những hành vi mua sắm không hợp lý thành Nan, vừa để lọc dữ liệu cho những phân tích cần đến phía sau, vừa không làm mất
#đi dữ liệu trong row dùng cho những phân tích khác

# Điều kiện 1: "Holding the bag" là False nhưng có ít nhất một trong ba feature dưới đây là True:
# "Putting item into bag", "Taking item out of bag", "Putting item into bag in the 2nd time"
condition_1 = (df_3['Holding the bag'] == False) & (
    (df_3['Putting item into bag'] == True) |
    (df_3['Taking item out of bag'] == True) |
    (df_3['Putting item into bag in the 2nd time'] == True)
)

# Điều kiện 2: "Picking up item" là True nhưng không có "Putting item into bag" và "Returning item"
condition_2 = (df_3['Picking up item'] == True) & ~(
    (df_3['Putting item into bag'] == True) |
    (df_3['Returning item'] == True)
)
 
# Điều kiện 3: "Returning item" xảy ra mà không có "Picking up item" 
condition_3 = (df_3['Returning item'] == True) & (
    (df_3['Picking up item'] != True) 
)

# Điều kiện 4: "Putting item into bag in the 2nd time" xảy ra mà không có đồng thời cả 3 hành động:
# "Picking up item", "Putting item into bag", "Taking item out of bag"
condition_4 = (df_3['Putting item into bag in the 2nd time'] == True) & ~(
    (df_3['Picking up item'] == True) &
    (df_3['Putting item into bag'] == True) &
    (df_3['Taking item out of bag'] == True)
)

# Điều kiện 5: "Returning item" xảy ra mà có 'Putting item into bag':
condition_5 = (df_3['Returning item'] == True) & (df_3['Putting item into bag'] == True)

# Điều kiện 6: "Taking item out of bag" xảy ra mà không có 'Putting item into bag':
condition_6 = (df_3['Taking item out of bag'] == True) & (df_3['Putting item into bag'] != True)

# Kết hợp tất cả các điều kiện
all_conditions = condition_1 | condition_2 | condition_3 | condition_4 | condition_5 | condition_6

df_3.loc[all_conditions, ['Holding the bag', 
                          'Picking up item', 
                          'Returning item', 
                          'Putting item into bag', 
                          'Taking item out of bag', 
                          'Putting item into bag in the 2nd time']] = np.nan

df_3

,Shelf ID,Person ID,Timestamp,Age,Gender,Height,Weight,Married status,Moving speed (m/s),Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time,Datetime,Age group
0,4,1,1720260000,52,Female,162,41,Married,0.19,16,27,36,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-06 10:00:00,Trung niên
1,4,1,1720260120,52,Female,162,41,Married,0.49,5,22,17,True,True,False,True,True,True,2024-07-06 10:02:00,Trung niên
2,4,1,1720260300,52,Female,162,41,Married,0.36,4,25,39,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-06 10:05:00,Trung niên
3,4,1,1720260360,52,Female,162,41,Married,0.64,8,21,35,True,True,True,False,False,False,2024-07-06 10:06:00,Trung niên
4,4,1,1720260480,52,Female,162,41,Married,0.13,6,27,16,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-06 10:08:00,Trung niên
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389,2,1500,1720151340,52,Female,154,44,Single,0.52,4,32,35,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-05 03:49:00,Trung niên
15390,3,1500,1720151640,52,Female,154,44,Single,0.85,3,30,28,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-05 03:54:00,Trung niên
15391,3,1500,1720151760,52,Female,154,44,Single,0.76,21,54,56,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-05 03:56:00,Trung niên
15392,3,1500,1720151880,52,Female,154,44,Single,1.41,13,16,25,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-05 03:58:00,Trung niên
15393,3,1500,1720152180,52,Female,154,44,Single,0.96,7,17,37,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-05 04:03:00,Trung niên

In [206]:
# Nhóm dữ liệu theo Person ID và kiểm tra sự khác biệt trong các cột Age, Gender, Height, Weight,Married status
differences = df_3.groupby('Person ID').agg({
    'Age': pd.Series.nunique,
    'Gender': pd.Series.nunique,
    'Height': pd.Series.nunique,
    'Weight': pd.Series.nunique,
    'Married status': pd.Series.nunique
})

# Tìm các Person ID có sự khác biệt trong các giá trị Age, Gender, Height, Weight, Married status
differences_in_data = differences[(differences['Age'] > 1) | 
                                  (differences['Gender'] > 1) | 
                                  (differences['Height'] > 1) | 
                                  (differences['Weight'] > 1) |
                                  (differences['Married status'] > 1)]

# Kiểm tra và in kết quả
if not differences_in_data.empty:
    print("Có sự khác biệt về Age, Gender, Height, Weight, Married status cho các Person ID sau:")
    print(differences_in_data)
else:
    print("Không có sự khác biệt về Age, Gender, Height, Weight, Married status cho tất cả các Person ID.")

Không có sự khác biệt về Age, Gender, Height, Weight, Married status cho tất cả các Person ID.

In [207]:
# Đảm bảo cột 'Datetime' có kiểu dữ liệu datetime
df_3['Datetime'] = pd.to_datetime(df_3['Datetime'])

# Tạo cột mới 'day_of_the_week' từ cột 'Datetime'
df_3['Day of the week'] = df_3['Datetime'].dt.day_name()

# In ra vài dòng đầu của DataFrame để kiểm tra
print(df_3[['Datetime', 'Day of the week']].head())

             Datetime Day of the week
0 2024-07-06 10:00:00        Saturday
1 2024-07-06 10:02:00        Saturday
2 2024-07-06 10:05:00        Saturday
3 2024-07-06 10:06:00        Saturday
4 2024-07-06 10:08:00        Saturday

In [208]:
# Danh sách các cột theo thứ tự mong muốn
new_order = ['Shelf ID','Person ID','Timestamp','Datetime','Day of the week', 'Age','Age group', 'Gender', 'Height', 'Weight', 'Married status', 'Moving speed (m/s)', 
             'Item ID','Looking at item (s)','Holding the item (s)','Holding the bag', 'Picking up item', 'Returning item', 'Putting item into bag', 
             'Taking item out of bag', 'Putting item into bag in the 2nd time']

# Sắp xếp lại DataFrame theo thứ tự cột mới
df_3 = df_3[new_order]

In [211]:
# Xác định mặt hàng trong mỗi row có được mua hay là không hay là không xác định được (để null)
#tạo Feature Be purchased để biết được mặt hàng có được mua hay là không

# Điều kiện 1: 'Putting item into bag' là False thì 'Be purchased' sẽ là False
condition_1 = (df_3['Putting item into bag'] == False)

# Điều kiện 2: 'Putting item into bag' là True, 'Taking item out of bag' là False, 
# và 'Putting item into bag in the 2nd time' là False thì 'Be purchased' sẽ là True
condition_2 = (df_3['Putting item into bag'] == True) & \
              (df_3['Taking item out of bag'] == False) & \
              (df_3['Putting item into bag in the 2nd time'] == False)

# Điều kiện 3: 'Putting item into bag' là True, 'Taking item out of bag' là True, 
# và 'Putting item into bag in the 2nd time' là False thì 'Be purchased' sẽ là False
condition_3 = (df_3['Putting item into bag'] == True) & \
              (df_3['Taking item out of bag'] == True) & \
              (df_3['Putting item into bag in the 2nd time'] == False)

# Điều kiện 4: 'Putting item into bag' là True, 'Taking item out of bag' là True, 
# và 'Putting item into bag in the 2nd time' là True thì 'Be purchased' sẽ là True
condition_4 = (df_3['Putting item into bag'] == True) & \
              (df_3['Taking item out of bag'] == True) & \
              (df_3['Putting item into bag in the 2nd time'] == True)

# Tạo cột 'Be purchased' và gán giá trị mặc định là None
df_3['Be purchased'] = None

# Áp dụng điều kiện 1
df_3.loc[condition_1, 'Be purchased'] = False

# Áp dụng điều kiện 2
df_3.loc[condition_2, 'Be purchased'] = True

# Áp dụng điều kiện 3
df_3.loc[condition_3, 'Be purchased'] = False

# Áp dụng điều kiện 4
df_3.loc[condition_4, 'Be purchased'] = True

# In ra 
df_3

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Shelf ID,Person ID,Timestamp,Datetime,Day of the week,Age,Age group,Gender,Height,Weight,...,Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time,Be purchased
0,4,1,1720260000,2024-07-06 10:00:00,Saturday,52,Trung niên,Female,162,41,...,16,27,36,NaN,NaN,NaN,NaN,NaN,NaN,None
1,4,1,1720260120,2024-07-06 10:02:00,Saturday,52,Trung niên,Female,162,41,...,5,22,17,True,True,False,True,True,True,True
2,4,1,1720260300,2024-07-06 10:05:00,Saturday,52,Trung niên,Female,162,41,...,4,25,39,NaN,NaN,NaN,NaN,NaN,NaN,None
3,4,1,1720260360,2024-07-06 10:06:00,Saturday,52,Trung niên,Female,162,41,...,8,21,35,True,True,True,False,False,False,False
4,4,1,1720260480,2024-07-06 10:08:00,Saturday,52,Trung niên,Female,162,41,...,6,27,16,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389,2,1500,1720151340,2024-07-05 03:49:00,Friday,52,Trung niên,Female,154,44,...,4,32,35,NaN,NaN,NaN,NaN,NaN,NaN,None
15390,3,1500,1720151640,2024-07-05 03:54:00,Friday,52,Trung niên,Female,154,44,...,3,30,28,NaN,NaN,NaN,NaN,NaN,NaN,None
15391,3,1500,1720151760,2024-07-05 03:56:00,Friday,52,Trung niên,Female,154,44,...,21,54,56,NaN,NaN,NaN,NaN,NaN,NaN,None
15392,3,1500,1720151880,2024-07-05 03:58:00,Friday,52,Trung niên,Female,154,44,...,13,16,25,NaN,NaN,NaN,NaN,NaN,NaN,None
15393,3,1500,1720152180,2024-07-05 04:03:00,Friday,52,Trung niên,Female,154,44,...,7,17,37,NaN,NaN,NaN,NaN,NaN,NaN,None

In [212]:
# Check từng Feature trong dữ liệu bằng cách thay Tên feature cần check
# Tách feature ra khỏi DataFrame
feature_name = 'Be purchased'
feature = df_3[feature_name]

# Kiểm tra giá trị null trong feature
null_values = feature.isnull().sum()

# Kiểm tra giá trị duplicate trong feature
duplicate_values = feature.duplicated().sum()

# Hiển thị các giá trị duy nhất trong feature và số lượng duplicate
unique_values_count = feature.value_counts()
print(f"Thông tin về feature '{feature_name}':")
print(f"Số lượng giá trị null: {null_values}")
print(f"Số lượng giá trị duplicate: {duplicate_values}")
print(f"Các giá trị duy nhất và số lượng duplicate:")
print(unique_values_count)

unique_count = len(set(feature))

print(f"Số lượng giá trị duy nhất: {unique_count}")

Thông tin về feature 'Be purchased':
Số lượng giá trị null: 9770
Số lượng giá trị duplicate: 15391
Các giá trị duy nhất và số lượng duplicate:
True     2832
False    2792
Name: Be purchased, dtype: int64
Số lượng giá trị duy nhất: 3

In [214]:
output_file_path = 'Customer Behavior.xlsx'
df_3.to_excel(output_file_path, index=False)

In [ ]:
# Check Shelf ID và Item ID có bị ảnh hưởng bởi việc nhầm ở bảng Shalf hay không ở Excel -> không có sai sót

# Question

In [279]:
df_1c= pd.read_excel("D:/Dai Hoc/Sau Đại Học/Data Clean/Shelf.xlsx")
df_2c= pd.read_excel("D:/Dai Hoc/Sau Đại Học/Data Clean/Item.xlsx")
df_3c= pd.read_excel("D:/Dai Hoc/Sau Đại Học/Data Clean/Customer Behavior.xlsx")

In [280]:
df_3c

,Shelf ID,Person ID,Timestamp,Datetime,Day of the week,Age,Age group,Gender,Height,Weight,...,Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time,Be purchased
0,4,1,1720260000,2024-07-06 10:00:00,Saturday,52,Trung niên,Female,162,41,...,16,27,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1,1720260120,2024-07-06 10:02:00,Saturday,52,Trung niên,Female,162,41,...,5,22,17,1.0,1.0,0.0,1.0,1.0,1.0,1.0
2,4,1,1720260300,2024-07-06 10:05:00,Saturday,52,Trung niên,Female,162,41,...,4,25,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,1720260360,2024-07-06 10:06:00,Saturday,52,Trung niên,Female,162,41,...,8,21,35,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,4,1,1720260480,2024-07-06 10:08:00,Saturday,52,Trung niên,Female,162,41,...,6,27,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389,2,1500,1720151340,2024-07-05 03:49:00,Friday,52,Trung niên,Female,154,44,...,4,32,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15390,3,1500,1720151640,2024-07-05 03:54:00,Friday,52,Trung niên,Female,154,44,...,3,30,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15391,3,1500,1720151760,2024-07-05 03:56:00,Friday,52,Trung niên,Female,154,44,...,21,54,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15392,3,1500,1720151880,2024-07-05 03:58:00,Friday,52,Trung niên,Female,154,44,...,13,16,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15393,3,1500,1720152180,2024-07-05 04:03:00,Friday,52,Trung niên,Female,154,44,...,7,17,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [281]:
#1.Thống kê 5 mặt hàng có tổng thời gian nhìn và cầm xem lâu nhất?

# Tạo một cột tổng thời gian nhìn và cầm xem
df_3c['Total_time'] = df_3c['Looking at item (s)'] + df_3c['Holding the item (s)']

# Nhóm dữ liệu theo Shelf ID và Item ID, rồi tính tổng thời gian cho mỗi nhóm
grouped_df = df_3c.groupby(['Shelf ID', 'Item ID'], as_index=False)['Total_time'].sum()

# Sắp xếp theo tổng thời gian từ cao xuống thấp
sorted_df = grouped_df.sort_values(by='Total_time', ascending=False)

# Lấy 5 mặt hàng có tổng thời gian lâu nhất
top_5_items = sorted_df.head(5)

# Hiển thị kết quả
print(top_5_items)

     Shelf ID  Item ID  Total_time
124         7        6       22896
125         7        7       22896
39          2        8       13939
6           0        6       13866
7           0        7       13362

In [231]:
#2.Thống kê 5 mặt hàng thường được cầm lên rồi trả lại nhiều nhất?

# Đếm số lần "Returning item" là 1 cho mỗi kết hợp của 'Shelf ID' và 'Item ID'
top_items_returned = df_3c[df_3c['Returning item'] == 1][['Shelf ID', 'Item ID']].value_counts().head(5)

print("Top 5 mặt hàng thường được cầm lên rồi trả lại nhiều nhất:")
print(top_items_returned)

Top 5 mặt hàng thường được cầm lên rồi trả lại nhiều nhất:
Shelf ID  Item ID
2         2          45
0         8          37
          3          36
          7          35
7         1          34
dtype: int64

In [283]:
#3.Các nhóm khách hàng theo độ tuổi (Thiếu niên: 18 - 30; Trung niên: 31 - 60; Cao tuổi: > 60) mua mặt hàng nào nhiều nhất? 

# Lọc các hàng có "Be purchased" là True
purchased_items = df_3c[df_3c['Be purchased'] == True]

# Đếm số lần mua cho mỗi nhóm tuổi, Shelf ID và Item ID
top_items_by_age_group = purchased_items.groupby(['Age group', 'Shelf ID', 'Item ID']).size().reset_index(name='Count')

# Tìm mặt hàng được mua nhiều nhất cho mỗi nhóm tuổi
most_purchased_items = top_items_by_age_group.loc[top_items_by_age_group.groupby('Age group')['Count'].idxmax()]

print("Mặt hàng được mua nhiều nhất theo nhóm tuổi và kệ hàng:")
print(most_purchased_items)

Mặt hàng được mua nhiều nhất theo nhóm tuổi và kệ hàng:
      Age group  Shelf ID  Item ID  Count
32     Cao tuổi         2        1     31
130  Thiếu niên         0        4     28
277  Trung niên         2        1     54

In [284]:
#4. Ngày nào trong tuần có doanh thu cao nhất?

# Lọc các sản phẩm đã được mua (Be purchased = True)
purchased_items = df_3c[df_3c['Be purchased'] == True]

# Kết hợp df_3c với df_2c dựa trên 'Shelf ID' và 'Item ID' để lấy thông tin giá cả
merged_data = pd.merge(purchased_items, df_2c[['Shelf ID', 'Item ID', 'Price (vnđ)']], on=['Shelf ID', 'Item ID'], how='left')

# Tính tổng doanh thu cho mỗi ngày trong tuần
revenue_by_day = merged_data.groupby('Day of the week')['Price (vnđ)'].sum().reset_index(name='Total Revenue')

# Sắp xếp để tìm ngày có doanh thu cao nhất
highest_revenue_day = revenue_by_day.sort_values(by='Total Revenue', ascending=False).head(1)

print("Ngày trong tuần có doanh thu cao nhất:")
highest_revenue_day

Ngày trong tuần có doanh thu cao nhất:

  Day of the week  Total Revenue
2        Saturday      127337400

In [285]:
#5.Trong 3 nhóm tuổi sau: Thiếu niên (18 - 30),  Trung niên (31 - 60), Cao tuổi: (> 60), 
#nhóm tuổi nào có số người đi siêu thị nhiều nhất?

# Đếm số lượng người đi siêu thị theo nhóm tuổi
people_count_by_age_group = df_3c.groupby('Age group')['Person ID'].nunique().reset_index(name='Number of People')

# Sắp xếp để tìm nhóm tuổi có số người đi siêu thị nhiều nhất
most_frequent_age_group = people_count_by_age_group.sort_values(by='Number of People', ascending=False).head(3)

print("Nhóm tuổi có số người đi siêu thị nhiều nhất:")
print(most_frequent_age_group)

Nhóm tuổi có số người đi siêu thị nhiều nhất:
    Age group  Number of People
2  Trung niên               753
0    Cao tuổi               408
1  Thiếu niên               339

In [286]:
#6.Top 5 các mặt hàng giảm giá được người dùng mua nhiều nhất?

# Lọc các mặt hàng giảm giá từ bảng df_2c
discounted_items = df_2c[df_2c['Discount (%)'] > 0]

# Kết hợp df_3c với df_2c dựa trên 'Shelf ID' và 'Item ID' để lấy thông tin giảm giá
merged_data = pd.merge(df_3c, discounted_items[['Shelf ID', 'Item ID']], on=['Shelf ID', 'Item ID'], how='inner')

# Lọc các mặt hàng giảm giá đã được mua (Be purchased = True)
purchased_discounted_items = merged_data[merged_data['Be purchased'] == True]

# Đếm số lượng mua cho mỗi mặt hàng giảm giá
top_discounted_items = purchased_discounted_items.groupby(['Shelf ID', 'Item ID']).size().reset_index(name='Number of Purchases')

# Sắp xếp để tìm top 5 mặt hàng giảm giá được mua nhiều nhất
top_5_discounted_items = top_discounted_items.sort_values(by='Number of Purchases', ascending=False).head(5)

print("Top 5 mặt hàng giảm giá được người dùng mua nhiều nhất:")
print(top_5_discounted_items)

Top 5 mặt hàng giảm giá được người dùng mua nhiều nhất:
    Shelf ID  Item ID  Number of Purchases
1          0        4                   97
18         2        7                   85
55         7        0                   82
14         1       10                   56
8          1        1                   53

In [287]:
#7.Top 5 các mặt hàng được chạy quảng cáo được người dùng mua nhiều nhất?

# Lọc các mặt hàng được chạy quảng cáo trong df_2c
ads_items = df_2c[df_2c['Marketing strategy'] == True]

# Lọc các mặt hàng đã được mua trong df_3c
purchased_items = df_3c[df_3c['Be purchased'] == True]

# Kết hợp df_2c với df_3c dựa trên 'Shelf ID' và 'Item ID' để lấy thông tin giá cả và số lượng mua
merged_data = pd.merge(ads_items, purchased_items, on=['Shelf ID', 'Item ID'], how='inner')

# Tính số lượng mua cho từng mặt hàng
purchase_counts = merged_data.groupby(['Shelf ID', 'Item ID']).size().reset_index(name='Purchase Count')

# Sắp xếp các mặt hàng theo số lượng mua giảm dần và chọn top 5
top_5_items = purchase_counts.sort_values(by='Purchase Count', ascending=False).head(5)

print(top_5_items)

    Shelf ID  Item ID  Purchase Count
0          0        4              97
5          2        7              85
15         7        0              82
2          1       10              56
4          1       15              51

In [270]:
#8.Top 3 quầy hàng có thời lượng trung bình quan tâm đến sản phẩm, trên số lượt tương tác,
#là lâu nhất (quan tâm tương ứng với việc nhìn và cầm xem)?

df = pd.DataFrame(df_3c)
df['attention time (s)'] = df['Looking at item (s)'] + df['Holding the item (s)']

# Tính số lượt tương tác (đếm số feature có giá trị True)
df['Interaction count'] = df[['Picking up item', 'Returning item', 'Putting item into bag', 
                              'Taking item out of bag', 'Putting item into bag in the 2nd time']].sum(axis=1)

# Loại bỏ các hàng không có tương tác
df = df[df['Interaction count'] > 0]

# Tính tổng thời gian quan tâm và tổng số tương tác theo từng quầy (Shelf ID)
shelf_group = df.groupby('Shelf ID').agg(
    total_attention_time=('attention time (s)', 'sum'),
    total_interactions=('Interaction count', 'sum')
)

# Tính thời lượng quan tâm trung bình trên mỗi tương tác
shelf_group['Attention time per interaction'] = shelf_group['total_attention_time'] / shelf_group['total_interactions']

# Sắp xếp quầy hàng theo thời lượng trung bình giảm dần và chọn Top 3
top_3_shelves = shelf_group.sort_values(by='Attention time per interaction', ascending=False).head(3)

# Hiển thị kết quả
print(top_3_shelves)

          total_attention_time  total_interactions  \
Shelf ID
5                        23171               865.0
3                        27612              1121.0
7                        70141              2858.0

          Attention time per interaction
Shelf ID
5                              26.787283
3                              24.631579
7                              24.541987

In [271]:
#9.Top 3 quầy hàng có số sản phẩm được mua nhiều nhất?

df = pd.DataFrame(df_3c)

# Lọc những sản phẩm đã được mua (Be purchased == True)
df_purchased = df[df['Be purchased'] == True]

# Đếm số lượng sản phẩm được mua theo từng quầy hàng (Shelf ID)
shelf_purchases = df_purchased.groupby('Shelf ID').size().reset_index(name='Products Purchased')

# Sắp xếp theo số lượng sản phẩm được mua giảm dần và chọn Top 3
top_3_shelves = shelf_purchases.sort_values(by='Products Purchased', ascending=False).head(3)

# Hiển thị kết quả
print(top_3_shelves)

   Shelf ID  Products Purchased
1         1                 596
7         7                 527
0         0                 449

In [277]:
#10. Người dùng có thói quen di chuyển giữa 2 quầy hàng nào nhiều nhất?

df = pd.DataFrame(df_3c)

# Tạo một cột 'Previous Shelf ID' để theo dõi quầy trước đó
df['Previous Shelf ID'] = df.groupby('Person ID')['Shelf ID'].shift(1)

# Loại bỏ các hàng không có giá trị 'Previous Shelf ID' (tức là lượt di chuyển đầu tiên của mỗi người)
df_moves = df.dropna(subset=['Previous Shelf ID'])

# Chỉ giữ lại các hàng có sự thay đổi quầy (quầy trước đó khác quầy hiện tại)
df_moves = df_moves[df_moves['Previous Shelf ID'] != df_moves['Shelf ID']]

# Tạo cột 'Move' để đại diện cho việc di chuyển từ quầy trước đó sang quầy hiện tại
df_moves['Move'] = list(zip(df_moves['Previous Shelf ID'], df_moves['Shelf ID']))

# Đếm số lần di chuyển giữa các quầy
move_counts = df_moves['Move'].value_counts()

# In ra kết quả
print(move_counts)

(7.0, 0)    123
(0.0, 7)    109
(1.0, 7)    104
(7.0, 1)     92
(7.0, 4)     92
(7.0, 2)     79
(2.0, 0)     77
(4.0, 7)     77
(2.0, 7)     76
(0.0, 1)     72
(1.0, 0)     71
(4.0, 1)     65
(0.0, 2)     65
(1.0, 2)     59
(1.0, 4)     57
(0.0, 3)     57
(2.0, 1)     56
(0.0, 4)     54
(4.0, 0)     54
(3.0, 7)     54
(3.0, 0)     49
(2.0, 4)     48
(0.0, 6)     46
(4.0, 2)     43
(7.0, 3)     40
(5.0, 7)     38
(7.0, 6)     37
(3.0, 1)     36
(7.0, 5)     35
(6.0, 0)     35
(4.0, 3)     34
(1.0, 6)     33
(6.0, 1)     32
(5.0, 1)     32
(1.0, 3)     32
(2.0, 3)     31
(6.0, 7)     31
(3.0, 2)     31
(6.0, 4)     28
(6.0, 2)     27
(1.0, 5)     26
(4.0, 6)     26
(5.0, 0)     26
(3.0, 4)     25
(2.0, 6)     24
(5.0, 4)     20
(0.0, 5)     19
(5.0, 2)     19
(2.0, 5)     19
(3.0, 6)     17
(4.0, 5)     16
(3.0, 5)     15
(5.0, 3)     14
(6.0, 3)     13
(6.0, 5)     11
(5.0, 6)      9
Name: Move, dtype: int64

In [293]:
#11

In [294]:
#12
# Lọc các mặt hàng đã được mua trong df_3c
purchased_items = df_3c[df_3c['Be purchased'] == True]

# Kết hợp df_2c với purchased_items dựa trên 'Shelf ID' và 'Item ID' để lấy thông tin giá cả và số lượng mua
merged_data = pd.merge(purchased_items, df_2c, on=['Shelf ID', 'Item ID'], how='inner')

# Tính số lượng mua cho từng mặt hàng
purchase_counts = merged_data.groupby(['Shelf ID', 'Item ID']).size().reset_index(name='Purchase Count')

# Sắp xếp các mặt hàng theo số lượng mua giảm dần và chọn top 5
top_5_items = purchase_counts.sort_values(by='Purchase Count', ascending=False).head(10)

print(top_5_items)

     Shelf ID  Item ID  Purchase Count
32          2        1             113
4           0        4              97
26          1       13              89
38          2        7              85
113         7        0              82
27          1       14              75
23          1       10              56
14          1        1              53
28          1       15              51
24          1       11              48

# End